@model IEnumerable<Eurovision.Models.Event>

@{
    ViewBag.Title = "Results";
}

<h6>Results</h6>
@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model.OrderByDescending(x=>x.Year))
    {
        <div>@string.Format("{0} {1}", item.HostCity, item.Year)@if(item.EuroWinnerID>0) 
        {<text>, @item.EurovisionWinner.WonBy</text>}
        @if(item.HomeChampID>0) 
        {<text>, @item.HomeChampion.WonBy</text>}
        </div>
    }
}

