@{
    ViewBag.Title = "Bruce-Burton Eurovision";
}

<h2>Welcome to the @ViewBag.Title site</h2>
You should have been given a link to register already, if you don't have one you will need to contact the administrator.